.text-overlay {
  position: absolute;
  top: 0;
  color: white;
  opacity: .6;
  font-size: 10rem;
}
._item:hover {

    border: 0.2rem solid #46a35e;
    box-shadow: 0 0 .2rem #46a35e,
    0 0 .2rem #46a35e,
    0 0 2rem #46a35e,
    0 0 0.8rem #46a35e,
    0 0 2.8rem #46a35e,
    inset 0 0 1.3rem #46a35e;
}
.zoom:hover {
  transform: scale(1.1);
  transform-style: preserve-3d;
}
.zoom {
  transition: transform .6s; /* Animation */
  overflow: hidden;
  margin: 0 auto;
}

.item.selected {
  border: 0.2rem solid #46a35e;
  box-shadow: 0 0 0.2rem #46a35e, 0 0 0.2rem #46a35e, 0 0 2rem #46a35e,
    0 0 0.8rem #46a35e, 0 0 2.8rem #46a35e, inset 0 0 1.3rem #46a35e;
}
