<div class="timeline ms-2 ms-md-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="timeline-container">
          <div class="timeline-completed position-relative">
            <p class="p-0 d-flex align-items-center justify-content-center">
              <img src="/assets/images/stage-icons/audio_icon.png" alt="" class="w-100 mx-1">
            </p>
          </div>
          <div class="timeline-completed">
            <p class="p-0 d-flex align-items-center justify-content-center">
              <img src="/assets/images/stage-icons/atmosphere_icon.png" alt="" class="mt-2 w-100 mx-1">
            </p>
          </div>
          <div class="timeline-completed active">
            <p class="p-0 d-flex align-items-center justify-content-center">
              <img src="/assets/images/stage-icons/animatic_icon.png" alt=""  class="w-100 m-2">
            </p>
          </div>
          <div class="timeline-active">
            <p class="p-0 d-flex align-items-center justify-content-center">
              <img src="/assets/images/stage-icons/visual_icon.png" alt=""  class="w-100 m-2">
            </p>
          </div>
          <div class="timeline-end w-100">
            <img src="/assets/images/stage-icons/fire_red.png" alt="" class="" style="width: 40px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
