.dark {
  background-color: var(--surface-primary);
  color: var(--text-secondary);
}
.brand {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  width: 176px;
  line-height: 64px;
  text-transform: uppercase;
  text-align: end;
}
.light {
  background-color: unset;
  color: var(--text-secondary);
}
.not-header {

    margin: 16px;

}
@media screen and (max-width:1100px) {
  .not-header {
  .navbar-brand {
    width: 48px;
    margin: auto;
  }
}
}
