.accordion-button:not(.collapsed) {
  box-shadow: unset;
}
.accordion-button::after {
  display: none;
}
.px-20 {
  padding-left: 20px;
}
.bg-native {
  background-color: var(--surface-primary);
}
.accordion-button:hover {
  z-index: unset;
}
.icon {
  width: 87px;
  height: 87px;

  background-color: var(--surface-primary);
  z-index: 3;
}
.active {
  .icon.highlight {
    border: 0.2rem solid #46a35e;
    box-shadow: 0 0 0.2rem #46a35e, 0 0 0.2rem #46a35e, 0 0 2rem #46a35e,
      0 0 0.8rem #46a35e, 0 0 2.8rem #46a35e, inset 0 0 1.3rem #46a35e;
  }
  .item {
    background-color: white;
    color: black;
    width: 100%;
  }
}
.icon.completed {
  background-color: #46a35e;
}
.accordion-button:not(.collapsed) {
  background-color: var(--bs-accordion-bg);
}
