<div class="row w-100 p-5">
  <div class="col-4 d-flex flex-column gap-2">
    <app-gallery-item *ngFor="let item of columns.one" [item]="item" class="overflow-hidden"></app-gallery-item>
  </div>
  <div class="col-4 d-flex flex-column gap-2">
    <app-gallery-item *ngFor="let item of columns.two" [item]="item" class="overflow-hidden"></app-gallery-item>
  </div>
  <div class="col-4 d-flex flex-column gap-2">
    <app-gallery-item *ngFor="let item of columns.three" [item]="item" class="overflow-hidden"></app-gallery-item>
  </div>
</div>
