<div class="d-flex mt-3 position-relative" *ngFor="let item of stage.items; let i = index;">


  <div class="flex-grow-1 mx-3 d-none">
    <div class="row">
      <div class="col-12 col-md-6 position-relative">
        <img [src]="item.fileUrl" alt="" class="w-100">
        <div class="result-icon d-flex align-items-center justify-content-center"
          *ngIf="stage.completed || stage.declined"></div>
      </div>
      <div class="col-12 col-md-6 position-relative">
        <img *ngFor="let item of stage.result" [src]="item.fileUrl" alt="Production File is not available"
          class="w-100">
        <div class="result-icon d-flex align-items-center justify-content-center"
          *ngIf="stage.completed || stage.declined">
          <i class="bi bi-check2 text-success" *ngIf="stage.completed"></i>
          <i class="bi bi-x-lg text-danger" *ngIf="stage.declined"></i>
        </div>
        <div class="w-100 text-center my-3" *ngIf="!stage.completed && !stage.declined && stage.result?.length">
          <button class="btn btn-success px-3" (click)="select(item)">Accept</button>
          <button class="btn btn-outline-danger mx-3" data-bs-toggle="modal"
            [attr.data-bs-target]="'#Modal--' + stage.id">Reject</button>
        </div>
      </div>
    </div>
  </div>
  <div>

    <div class="image-compare w-100 overflow-hidden position-relative" (click)="handleClick($event)"
      (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)">

      <div class="display-6 ms-3 position-absolute zindex-dropdown mt-3" style="z-index:2">{{index +1 }}</div>
      <span style="width: {{widthOld}}px;">
        <img [src]="item.fileUrl" alt="" draggable="false">
      </span>
      <div class="position-absolute d-flex h-100 justify-content-center align-items-center"
        style="z-index: 20;width: {{widthOld*2}}px;">
        <div>

          <i class="bi bi-chevron-left"></i>
          <i class="bi bi-chevron-right"></i>
        </div>
      </div>

      <img *ngFor="let item of stage.result" [src]="item.fileUrl" alt="Production File is not available"
        draggable="false">
    </div>
    <div class="w-100 text-end my-3 d-none" *ngIf="!stage.completed && !stage.declined && stage.result?.length">
      <button class="btn btn-success px-3" (click)="select(item)">Accept</button>
      <button class="btn btn-outline-danger mx-3" data-bs-toggle="modal"
        [attr.data-bs-target]="'#Modal--' + stage.id">Reject</button>
    </div>
  </div>

</div>
