<div class="d-flex mt-3 position-relative" *ngFor="let item of stage.items; let i = index;">


  <div class="flex-grow-1 mx-3 d-none">
    <div class="row">
      <div class="col-12 col-md-6 position-relative">
        <img [src]="item.fileUrl" alt="" class="w-100">
        <div class="result-icon d-flex align-items-center justify-content-center"
          *ngIf="stage.completed || stage.declined"></div>
      </div>
      <div class="col-12 col-md-6 position-relative">
        <img *ngFor="let item of stage.result" [src]="item.fileUrl" alt="Production File is not available"
          class="w-100">
        <div class="result-icon d-flex align-items-center justify-content-center"
          *ngIf="stage.completed || stage.declined">
          <i class="bi bi-check2 text-success" *ngIf="stage.completed"></i>
          <i class="bi bi-x-lg text-danger" *ngIf="stage.declined"></i>
        </div>
        <div class="w-100 text-center my-3" *ngIf="!stage.completed && !stage.declined && stage.result?.length">
          <button class="btn btn-success px-3" (click)="select(item)">Accept</button>
          <button class="btn btn-outline-danger mx-3" data-bs-toggle="modal"
            [attr.data-bs-target]="'#Modal--' + stage.id">Reject</button>
        </div>
      </div>
    </div>
  </div>
  <div>

    <div *ngIf="stage.result?.length != 0" class="image-compare w-100 overflow-hidden position-relative ms-md-3" (click)="handleClick($event)"
      (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)"
      (touchstart)="logTouchstart($event)" (touchend)="logTouchend($event)" (touchmove)="logTouchMove($event)">

      <div class="display-6 ms-3 position-absolute zindex-dropdown mt-3" style="z-index:2">{{index +1 }}</div>
      <span style="resize: none;" [style.width]="widthOld == 0? '50%' : widthOld + 'px'">
        <img [src]="item.fileUrl" alt="" draggable="false">
      </span>
      <article class="position-absolute d-flex h-100 justify-content-center align-items-center chevron" style="z-index: 1; "
        [style.width]="widthOld == 0? '100%' : widthOld*2 + 'px'" (click)="undefined">
        <svg xmlns="http://www.w3.org/2000/svg" class="default-handle" viewBox="-8 -3 16 6" style="z-index: 10; width: 50px;">
          <path d="M -5 -2 L -7 0 L -5 2 M 5 -2 L 7 0 L 5 2" fill="white" vector-effect="non-scaling-stroke"></path>
        </svg>
      </article>

      <img *ngFor="let item of stage.result" [src]="item.fileUrl" alt="Production File is not available"
        draggable="false">
    </div>
    <div *ngIf="stage.result?.length == 0" class="image-compare w-100 overflow-hidden position-relative ms-md-3">
      <img [src]="item.fileUrl" alt="" draggable="false">
    </div>
    <div class="w-100 text-end my-3" *ngIf="!stage.completed && !stage.declined && stage.result?.length && clientApproval">
      <button class="btn btn-success px-3" (click)="select(item)">Accept</button>
      <button class="btn btn-outline-danger mx-3" data-bs-toggle="modal"
        [attr.data-bs-target]="'#Modal--' + stage.id">Reject</button>
    </div>
  </div>

</div>
