<!-- main -->
<div class="container text-uppercase w-100 p-5" [innerHTML]="app.website.frontPageText">
  <!--div class="huge text-light w-50 text-end">WE <span class="display-2">Don`t</span> CARE</!--div>
  <div class="d-flex align-items-end">

    <div class="huge text-danger col text-end">BECAUSE</div>
    <div class="display-2 col">we do it because we must</div>
    </div>
  <div-- class="huge-2 text-light text-end fw-bold">WE DARE!</div-->
</div>

<!-- gallery -->
<app-gallery-list></app-gallery-list>
