.huge {
  font-size: 120px;

  font-family: 'Montserrat', sans-serif;

.s64 {
  font-size: 64px;
}
.s96 {
  font-size: 64px;
}
}
.slogan {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 32px;

}

@media (max-width: 1100px) {
  .huge{
    font-size: 10vw;
    line-height: 100%;
  }
  .slogan {
    font-size: 24px;
    margin: 0;
    line-height: 100%;
  }
  .huge .s64 {
    font-size: 32px;
  }
  .huge .s96 {
    font-size: 32px;
  }
  .slogan {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 16px;

  }
}
