.huge {
  font-size: 120px;

  font-family: 'Montserrat', sans-serif;

.s64 {
  font-size: 64px;
}
.s96 {
  font-size: 64px;
}
}
.slogan {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 32px;
  margin-bottom: 32px;
  margin-left: 24px;
}
