img {
  width: 100%;

}
.zoom {
  transition: transform .6s; /* Animation */
  overflow: hidden;
  margin: 0 auto;
}
.transparent {
  opacity: 0;
}
.zoom:hover {
  transform: scale(1.1);
  transform-style: preserve-3d;
}

.item-hint {
  background-color: var(--surface-light);
  color: var(--text-dark);
  opacity: .8;
  display: none;
}

.item:hover .item-hint {
  display: block;
}
