footer {
  background-color: var(--surface-light);
}
.navbar-brand {
  width: 446px;
}
.phone {
  font-size: 3vh;
}

.navbar-brand {
  width: 48px;
}
.link-body-color {
  color: var(--bs-body-color);
  text-decoration: none;
}
