<footer class="container-fluid mt-5">
  <div class="container-fluid d-flex align-items-start flex-md-row overflow-hidden">
    <app-branding [scheme]="'light'" [isHeader]="false" class="m-auto d-none d-md-block"></app-branding>
    <div role="search" class="bg-light text-end w-100 my-auto">
      <div class="phone">Phone: <span class="fw-bold" [innerText]="getPhone()"></span></div>
      <div class="phone">Email: <span class="fw-bold" [innerText]="getMail()"></span></div>
    </div>
  </div>
</footer>
